// Place all the styles related to the Servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form {
	display: inline;
	& textarea {
		font-family: inherit;
		font-size: small;
		resize: none;
		&.sensitive {
			background-color: #ffeeee;
		}
	}
}


table.list {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px #000 solid;
	border-spacing: 0px;
        & td {
		padding: 1px;
		border: 1px #fff solid;
	}

}

tr.even {
	background-color: #BFD0F0;
}

tr.even:hover {
	background-color: #cfe0ff;
}

tr.odd {
	background-color: #8baae4;
}

tr.odd:hover {
	background-color: #9bbaf4;
}

tr.list_header {
	background-color: #495e76;
	color: #fff;
	text-align: left;

}


td.form {
	vertical-align: top;
	&.header {
	  padding-top: 10px;
	  padding-bottom: 2px;
	  font-family: inherit;
	  font-weight: bold; 
	}
	&.base_info {
	  border-top: 1px solid #000;
	  border-bottom: 1px solid #000;
	  background-color: #eee;
	}
	&.sw_info {
	  border-top: 1px solid #000;
	  border-bottom: 1px solid #000;
	  background-color: #99bb99;
	}	
        &.hw_info {
	  border-top: 1px solid #000;
	  border-bottom: 1px solid #000;
	  background-color: #9999bb;
        }
	&.emp_info {
	  border-top: 1px solid #000;
	  border-bottom: 1px solid #000;
	  background-color: #bb9999;	
	}
	&.other_info {
	  border-top: 1px solid #000;
	  border-bottom: 1px solid #000;
	}
}

td.controls {
	text-align: right;
	white-space: nowrap;
	font-size: x-small; 
}

div.container {
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

div.test_flag {
	width: 94%;
	background-color: #ffaaaa;
	font-weight: bold;
}

div.info_header {
	width: 100%;
	line-height: normal;
	background-color: #dddddd;

}
div.nav_header {
	display: block;
	height: 120px;
	width: 100%;
	line-height: normal;
	background-color: #c1c9ce;
	text-align: left;
	padding-left: 5px;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 1px solid #6d7b8b;
	margin-left: auto;
	margin-right: auto;
	&.h_image {
		display: inline;
		margin-left: 25px;
		float: left;
		width: 40%;
		border: none;
		& a img {
			border: 0px;
		}
	}
	&.h_text {
		display: inline;
		margin-right: 25px;
		border: none;
		text-align: right;
		float: right;
		width: 40%;
	}

}

div.nav_footer {
	width: 99%;
	background-color: #dddddd;
	text-align: right;
	font-size: small;
	margin-left: auto;
	margin-right: auto;
}
