<!DOCTYPE html>
<html>
<head>
  <title>Serverlist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav_header">
  <h1>Server List</h1>
    <div class="nav_header minor">
	All Production and Test Servers
    </div>
  <br>
</div>



<%= yield %>

<div class="nav_footer">
<a href="/">Log in</a> | Server List v1.0 alpha
</div>

</body>
</html>
